<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class= "com.beans.Address" id="addrId">
<property name="houseno" value ="524"></property>
<property name="city" value ="Navi Mumbai"></property>
<property name="pincode" value ="400709"></property>
</bean>


    <bean class="com.beans.Student" id ="stdId">
    <property name ="name" value ="Pranav"></property>
    <property name ="rollno" value ="17"></property>
    <property name ="address" ref ="addrId"></property>
    </bean>

</beans>